<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered Secrets!</h1>
    <hr>

    <% if (secrets.length > 0) { %>
      <ul class="list-group p-3">
        <% secrets.forEach(secret => { %>
          <li class="list-group-item m-2 d-flex justify-content-between align-items-center">
            <span class="text-center"><%= secret.content %></span>
            <!-- Delete icon -->
            <i class="fas fa-trash-alt text-danger cursor-pointer delete-secret" onclick="deleteSecret('<%= secret._id %>')" title="Delete"></i>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No secrets found. Be the first to share one!</p>
    <% } %>
    
    
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
